html {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

/* nav
***************************************************/

.nav .u-wrapper {
	position: relative;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.nav .login {
	display: none;
}

@media screen and (min-width: 601px) {

	.nav .login {
		float: right;
		margin-top: 0;
		display: block;
	}

	.nav .login select {
		border: none;
		float: left;
	}

	.nav .login .u-plain-link {
		float: left;
	}

	.nav .login .u-plain-link::before {
		content: '';
		background-image: url('img/divider.png');
		background-repeat: no-repeat;
		background-size: 1px 1em;
		width: 1px;
		height: 1em;
		float: left;
		margin-right: 0.5em;
		margin-left: 0.2em;
	}

}

.nav .logo {
	width: 7.5em;
	position: absolute;
	left: calc(50% - 3.75em);
}

@media screen and (min-width: 601px) {

    .nav .logo {
    	content: url('img/comverse-logo.png');
    	position: relative;
    	left: auto;
    	float: left;
    	width: 10em;
    	margin: 0;
    }

}

.nav-button {
	background-color: #E0E0E0;
	background-image: url('img/hamburger-icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2em 2em;
	width: 3em;
	height: 3em;
	border: solid #D9D9D9 1px;
	border-radius: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	float: left;
	cursor: pointer;
}

@media screen and (min-width: 601px) {

    .nav-button {
    	display: none;
    }
    
}

.nav ul {
	display: none;
}

@media screen and (max-width: 600px) {

	.nav ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}

	.nav ul li {
		background-color: white;
		width: 100%;
		padding: 0.5em;
		border-bottom: solid 1px #E7E7E7;
	}

	.nav ul li .u-plain-link {
		color: #808080;
	}

}

@media screen and (min-width: 601px) {

    .nav ul {
		margin-top: 3em;
		margin-bottom: 0;
    	display: block;
    }

    .nav li {
		float: left;
		font-size: 0.75em;
		text-transform: uppercase;
		height: 1.5em;
		position: relative;
		display: block;
	}

	.nav li a {
		position: relative;
		top: calc(50% - 0.5em);
	}
    
	.nav li + li::before {
		content: '';
		background-image: url('img/divider.png');
		background-repeat: no-repeat;
		background-size: 1px 1.5em;
		width: 1px;
		height: 1.5em;
		margin-right: 0.8em;
		margin-left: 0.8em;
		display: inline-block;
		float: left;
	}

	.nav .u-plain-link {
		color: black;
	}

}

.nav .u-search {
	float: right;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

@media screen and (max-width: 600px) {

	.u-search #search-bar {
		display: none;
	}

	.nav .u-search input {
		box-sizing: border-box;
		width: 100%;
		padding: 0.4em;
		position: absolute;
		right: 0;
		bottom: -1em;
		border: none;
		border: solid 1px black;
		border-radius: 0.5em;
		background: #FFFFFF;
	}

	.nav .u-search .u-search-bar-close {
		position: absolute;
		right: 0.25em;
		bottom: -0.5em;
		color: black;
	}

}

@media screen and (min-width: 601px) {

	.nav .u-search .u-search-bar-close {
		display: none;
	}

	.nav .u-search {
		clear: right;
		position: absolute;
		bottom: 0.4em;
		right: 0.1em;
		margin: 0;
	}

}

@media screen and (max-width: 600px) {

	#nav-bar:target,
	#search-bar:target {
		display: inline-block;
	}

}

/* main
***************************************************/

.main {
	background-image: url("img/slide-bg-complexity.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding-bottom: 0.25em;
}

.slides-container {
	margin-bottom: 4em;
}

@media screen and (min-width: 601px) {

	.main {
		padding-top: 2em;
		padding-bottom: 2em;
	}

}

.main-title {
	background-color: rgba(46, 149, 202, 0.8);
}

@media screen and (min-width: 601px) {

	.main-title {
		background-color: transparent;
	}

}

@media screen and (max-width: 600px) {

	.main-title {
		padding: 0.5em;
	}

}

.main h1 {
	margin-top: 0;
	font-weight: normal;
}

@media screen and (min-width: 601px) {

	.main h1 {
		width: 50%;
	}

}

.main-learnmore .u-link-button {
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 8em;
}

@media screen and (min-width: 601px) {

	.main-learnmore .u-link-button {
		margin-bottom: 1.5em;
	}

}

@media screen and (max-width: 600px) {

	.main-learnmore .u-link-button {
		margin-left: 0.5em;
	}

}

@media screen and (max-width: 600px) {

	.slides-container .u-clean-checkbox {
		margin-left: 0.5em;
	}

}

#head p {
	font-size: 1.5em;
}

#head-1th-col,
#head-2th-col,
#head-3th-col {
	position: relative;
	cursor: pointer;
}

#head-1th-col p,
#head-2th-col p,
#head-3th-col p {
	margin-top: 0;
}

@media screen and (max-width: 600px) {

	#head-1th-col,
	#head-2th-col,
	#head-3th-col {
		width: 100%;
		height: 10em;
		padding: 1em;
		margin: 0;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}

	#head-1th-col p::after,
	#head-2th-col p::after,
	#head-3th-col p::after {
		content: '';
		display: inline-block;
		background-image: url('img/promotion-item-arrow.png');
		background-repeat: no-repeat;
		background-size: 0.65em 1em;
		width: 0.65em;
		height: 1em;
		position: absolute;
		top: calc(50% - 0.5em);
		right: 0.5em;
	}

}

@media screen and (min-width: 601px) and (max-width: 800px) {

	#head-1th-col,
	#head-2th-col,
	#head-3th-col {
		font-size: 0.85em;
		height: 14em;
		padding: 0.88em;
		border-radius: 0.58em;
	}

}

@media screen and (min-width: 801px) {

	#head-1th-col,
	#head-2th-col,
	#head-3th-col {
		height: 11em;
		padding: 0.75em;
		border-radius: 0.5em;
	}

}

#head-1th-col {
	background-color: rgba(255, 60, 159, 0.85);
}

#head-1th-col:hover {
	background-color: rgba(255, 60, 159, 1);
}

#head-2th-col {
	background-color: rgba(101, 193, 43, 0.85);
}

#head-2th-col:hover {
	background-color: rgba(101, 193, 43, 1);
}

#head-3th-col {
	background-color: rgba(226, 116, 0, 0.85);
}

#head-3th-col:hover {
	background-color: rgba(226, 116, 0, 1);
}

#head .u-plain-link {
	padding: 0.25em;
	background-size: 1.8em;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0.5em;
	display: block;
	height: 1.5em;
	width: 10em;
}

#head-1th-col .u-plain-link::before {
	background-image: url('img/link-icon-image.png');
}

#head-2th-col .u-plain-link::before {
	background-image: url('img/link-icon-image.png');
}

#head-3th-col .u-plain-link::before {
	background-image: url('img/link-icon-image.png');
}

#head .u-plain-link::before {
	content: '';
	background-repeat: no-repeat;
	background-size: 1.67em 1.5em;
	width: 1.67em;
	height: 1.5em;
	margin-right: 0.4em;
	float: left;
}

#head .u-plain-link span {
	position: absolute;
	top: calc(50% - 0.5em);
}

/* solutions
***************************************************/

.solutions {
	background-image: url('img/weDoBG.png');
	background-color: #3091C2;
	background-color: rgba(48, 145, 194, 0.875);
	color: white;
}

@media screen and (min-width: 601px) {

	.solutions {
		background: linear-gradient(to right, #2E89B7, #57B5D4, #2E89B7);
	}

}

.solutions .u-wrapper {
	padding-top: 1em;
	padding-bottom: 1em;
}

@media screen and (min-width: 601px) {

	.solutions .u-wrapper {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}

}

.solutions h2 {
	margin-bottom: 2em;
	margin-top: 0; 
}

#solution-1,
#solution-2,
#solution-3,
#solution-4,
#solution-5,
#solution-6 {
	height: 10em;
	position: relative;
}

@media screen and (max-width: 600px) {

	#solution-1,
	#solution-2,
	#solution-3,
	#solution-4,
	#solution-5,
	#solution-6 {
		width: 33.33333%;
	}

}

#solution-1 img,
#solution-2 img,
#solution-3 img,
#solution-4 img,
#solution-5 img,
#solution-6 img {
	position: absolute;
	bottom: 50%;
	left: 0;
	width: 100%;
}

#solution-1 .solution-text,
#solution-2 .solution-text,
#solution-3 .solution-text,
#solution-4 .solution-text,
#solution-5 .solution-text,
#solution-6 .solution-text {
	position: absolute;
	top: 50%;
	width: 100%;
}

#solution-1 p,
#solution-2 p,
#solution-3 p,
#solution-4 p,
#solution-5 p,
#solution-6 p {
	text-align: center;
}

#solution-1:hover,
#solution-2:hover,
#solution-3:hover,
#solution-4:hover,
#solution-5:hover,
#solution-6:hover {
	cursor: pointer;
}

#solution-1::before,
#solution-1:hover img {
	content: url('img/solution_icon_biz-analitics_hover.png');
}

#solution-2::before,
#solution-2:hover img {
	content: url('img/solution_icon_diti-cx_hover.png');
}

#solution-3::before,
#solution-3:hover img {
	content: url('img/solution_icon_smart-money_hover.png');
}

#solution-4::before,
#solution-4:hover img {
	content: url('img/solution_icon_optimize-efficnt_hover.png');
}

#solution-5::before,
#solution-5:hover img {
	content: url('img/solution_icon_personal_hover.png');
}

#solution-6::before,
#solution-6:hover img {
	content: url('img/solution_icon_biz-transform_hover.png');
}

#solution-1::before,
#solution-2::before,
#solution-3::before,
#solution-4::before,
#solution-5::before,
#solution-6::before {
	display: none;
}

@media screen and (max-width: 600px) {

	.solutions .u-link-button {
		display: none;
	}

}

/* events
***************************************************/

.events {	
	background-image: url("img/news-and-events-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.events .u-wrapper {
		padding-top: 2.5em;
		padding-bottom: 1em;
	}

@media screen and (min-width: 601px) {

	.events .u-wrapper {
		padding-bottom: 2.5em;
	}

}

.events h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 1em;
	margin-top: 0em;
}

.events h2,
.events h3 {
	color: white;
}

.events .event {
	background-color: rgba(255, 255, 255, 0.35);
	padding: 0.6em;
	margin-bottom: 1em;
	border-radius: 0.2em;
}

.events .event:hover {
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.event .u-date {
	box-sizing: border-box;
	background-color: #3399CC;
	float: left;
	text-transform: uppercase;
	width: 5em;
}

.event .u-date span:first-child {
	border-bottom: dotted 1px white;
}

.event-content {
	box-sizing: border-box;
	font-size: 0.9em;
	float: left;
	display: inline-block;
	padding: 0.5em;
	padding-left: 1em;
	width: calc(100% - 5.55555em);
	margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 800px) {

	.event-content {
		font-size: 0.8em;
		width: calc(100% - 6.25em);
	}

}

.events .u-plain-link {
	position: relative;
	width: 10em;
	padding: 0.2em;
	float: left;
}

.events .u-plain-link::before {
	content: '';
	background-repeat: no-repeat;
	background-size: 1.35em 1.35em;
	width: 1.35em;
	height: 1.35em;
	margin-right: 0.5em;
	float: left;
}

.events .u-plain-link span {
	position: absolute;
	top: calc(50% - 0.5em);
}

@media screen and (max-width: 600px) {

	#event-container-1,
	#event-container-2,
	#event-container-3 {
		padding: 1em;
		margin: 0;
		width: 100%;
	}

}

#event-container-1 .u-plain-link::before {
	background-image: url('img/eventListIconNews.png');
}

#event-container-1 .u-plain-link:hover::before{
	background-image: url('img/eventListIconNews_hover.png');
}

#event-container-2 .u-plain-link::before {
	background-image: url('img/eventListIconEvents.png');
}

#event-container-2 .u-plain-link:hover::before {
	background-image: url('img/eventListIconEvents_hover.png');
}

#event-container-3 .u-plain-link::before {
	background-image: url('img/eventListIconPress.png');
}

#event-container-3 .u-plain-link:hover::before {
	background-image: url('img/eventListIconPress_hover.png');
}

/* success stories
***************************************************/

.success-stories {
	background-color: #ECECEC;	
	color: #424242;
}

.success-stories .u-wrapper {
	padding-top: 2.5em;
	padding-bottom: 1.5em;
	position: relative;
}

.success-stories h2 {
	margin-top: 0;
}

@media screen and (max-width: 600px) {

	.success-stories-content {
		padding: 0.5rem;
	}

	#success-stories-1th-col,
	#success-stories-2th-col {
		width: 100%;
		font-size: 1.5em;
		margin: 0;
	}

	#success-stories-1th-col {
		margin-bottom: 0.5rem;
	}

	#success-stories-3th-col {
		display: none;
	}

}

.success-story {
	text-align: left;
	padding: 0.5em;
	height: 12em;
}

.success-stories-content .u-margin-row {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.success-story-content {
 	border-bottom: solid #A0A0A0 1px;
 	padding-bottom: 0.5em;
}

.success-story-content img {
	height: 100%;
	float: left;
	padding-right: 0.5em;
}

.success-story-content .u-quote {
	display: inline-block;
	font-size: 0.8em;
	width: calc(100% - 11em);
	height: 95%;
	overflow: hidden;
    text-overflow: ellipsis;
}

.success-story-content-noimage .u-quote {
	width: 100%;
}

.success-story-more {
	position: relative;
}

.success-story-more-content {
	font-size: 0.8em;
	display: inline-block;
	float: left;
}

.success-story-more-content h5 {
 	color: #7CC4E7;
 	margin-top: 0.5em;
 	margin-bottom: 0.5em;
}
.success-story-more-content p {
	display: inline;
}


.success-story-more img {
	position: absolute;
	right: 2px;
	top: 2px;
}

.success-stories .u-link-button {
	margin: 1.75em;
	margin-bottom: 0.5em;
}

.success-stories .u-up-button {
	position: absolute;
	bottom: -0.125em;
	right: 1em;
	width: 4em;
	height: 2em;
	background-size: 4em 2em;
}

@media screen and (min-width: 601px) {

	.success-stories .u-up-button {
		display: none;
	}

}

/* more
***************************************************/

footer {
	position: relative;
	background-color: #292929;
	color: #C7C7C7;
	font-size: 0.75em;
}

footer .u-wrapper {
	padding-top: 0;
	padding-bottom: 0;
}

footer h4 {
	text-transform: uppercase;
}

footer .u-plain-link {
	color: inherit;
}

footer .u-four-cols:last-child {
	background-color: #3F3F3F;
	padding: 1em;
}

@media screen and (max-width: 600px) {

	footer .u-four-cols:last-child {
		width: 100%;
		padding: 0;
		background-color: #212121;
		text-align: left;
		vertical-align: middle;
	}

	footer .u-four-cols:last-child ul {
		color: white;
		text-transform: uppercase;
	}

	footer .u-four-cols:last-child ul li {
		height: 2em;
		padding: 0.5em;
		padding-left: 1em;
		position: relative;
	}

	footer .u-four-cols:last-child ul li + li {
		border-top: solid black 1px;
	}

	footer .u-four-cols:last-child h4 {
		margin: 0;
		font-weight: normal;
	}

	.latest-blogs .u-mobile,
	.more-subscribe h4,
	.button-icons .u-mobile span {
		position: absolute;
		top: calc(50% - 0.5em);
	}

	.button-icons .u-mobile,
	#youtube-button,
	#twitter-button,
	#inkdin-button {
		box-sizing: border-box;
		float: left;
	}

	.button-icons .u-mobile {
		width: 30%;
		height: 100%;
		position: relative;
		display: block;
	}

	#youtube-button,
	#twitter-button,
	#inkdin-button {
		width: 20%;
	}

	footer .u-four-cols:last-child select {
		margin-left: 2em;
		background-color: #444444;
		border: none;
		border-radius: 0.25em;
		color: white;
	}

}

footer .u-four-cols:last-child .u-date {
	float: left;
}

footer .u-four-cols:last-child .u-date span {
	padding: 0;
}


@media screen and (min-width: 601px) {

	footer .u-four-cols:last-child h4 {
		color: #4EA7D3;
		margin-top: 1em;
		margin-bottom: 1.5em;
	}

	.more-subscribe {
		margin-top: 2.5em;
	}

}

.more-subscribe-form {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

.more-subscribe-form input {
	box-sizing: border-box;
	display: inline-block;
	width: calc(100% - 7.5em);
	border-radius: 0.15em;
	font-size: 0.85em;
	margin: 0;
	border: none;
	padding: 0.3em;
}

.more-subscribe-form .u-plain-link {
	box-sizing: border-box;
	display: inline-block;
	width: 5em;
	text-transform: uppercase;
	background-color: #40AEE4;
	padding: 0.25em;
	border-radius: 0.25em;
	margin: 0;
	color: white;
}

@media screen and (min-width: 601px) {

	footer .button-icons {
		position: absolute;
		bottom: 0;
	}

}

footer .button-icons button {
	border: none;
	width: 2em;
	height: 2em;
	background: none;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

footer .button-icons #youtube-button {
	background-image: url('img/socialMenuIcon-youtube.png');
}

footer .button-icons #youtube-button:hover {
	background-image: url('img/socialMenuIcon-youtube_hover.png');
}

footer .button-icons #twitter-button {
	background-image: url('img/socialMenuIcon-twitter.png');
}

footer .button-icons #twitter-button:hover {
	background-image: url('img/socialMenuIcon-twitter_hover.png');
}

footer .button-icons #inkdin-button {
	background-image: url('img/socialMenuIcon-linkdin.png');
}

footer .button-icons #inkdin-button:hover {
	background-image: url('img/socialMenuIcon-linkdin_hover.png');
}

footer .u-copy-right {
	margin: 0;
}

@media screen and (max-width: 600px) {

	footer .u-copy-right {
		text-align: center;
		background-color: #F7F7F7;
		color: #212121;
	}

}

@media screen and (min-width: 601px) {

	footer .u-copy-right {
		position: absolute;
		bottom: 0;
	}

}

/* utility layout
***************************************************/

.u-wrapper {
	box-sizing: border-box;
	margin: auto;
	width: 100%;
	max-width: 940px;
}

@media screen and (min-width: 601px) {
	
	.u-wrapper {
		padding: 0.5em;
	}

}

.u-clear-float {
	clear: both;
}

.u-two-small-margin-cols,
.u-two-eight-small-margin-cols,
.u-three-cols,
.u-three-margin-cols,
.u-three-small-margin-cols,
.u-three-eight-small-margin-cols,
.u-four-cols,
.u-six-cols {
	display: inline;
	float: left;
	box-sizing: border-box;
}

.u-two-small-margin-cols {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	width: calc(50% - 0.25rem);
}

.u-two-eight-small-margin-cols {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	width: calc(25% - 0.33333rem);
}

.u-three-cols {
	width: 33.33333%;
}

.u-three-margin-cols {
	margin-left: 1%;
	margin-right: 1%;
	width: 32%;
}

.u-three-small-margin-cols {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	width: calc(33.33333% - 0.33333rem);
}

.u-three-eight-small-margin-cols {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	width: calc(37.5% - 0.33333rem);
}

.u-four-cols {
	width: 25%;
}

.u-six-cols {
	width: 16.66666%;
}

.u-margin-cols-container .u-margin-col:first-child {
	margin-left: 0;
}

.u-margin-cols-container .u-margin-col:last-child {
	margin-right: 0;
}

.u-three-one-row,
.u-three-one-small-margin-row,
.u-three-two-row,
.u-three-two-small-margin-row {
	clear: both;
	display: block;
	box-sizing: border-box;
}

.u-three-one-row {
	height: 33.33333%;
}

.u-three-one-small-margin-row {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: calc(33.33333% - 0.25rem);
}

.u-three-two-row {
	height: 66.66666%;
}

.u-three-two-small-margin-row {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: calc(66.66666% - 0.25rem);
}

.u-margin-rows-container .u-margin-row:first-child {
	margin-top: 0;
}

.u-margin-rows-container .u-margin-row:last-child {
	margin-bottom: 0;
}

.u-clear-fix::after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
}

@media screen and (max-width: 600px) {

	.u-normal {
		display: none;
	}

}

@media screen and (min-width: 601px) {

	.u-mobile {
		display: none;
	}

}


/* utility text style
***************************************************/

.u-bold {
	font-weight: bold;
}

.u-text-center {
	text-align: center;
}

.u-clean-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.u-date {
	display: inline;
	text-align: center;
	width: 5em;
	color: white;
}

.u-date span:first-child {
	font-size: 3em;
	padding: 0.05em;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}

.u-date span:last-child {
	font-size: 1.2em;
	padding: 0.3em;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}

/* utility general style
***************************************************/

.u-plain-link {
	color: white;
}

.u-plain-link:link,
.u-plain-link:visited,
.u-plain-link:hover,
.u-plain-link:active {
	text-decoration: none;	
}

.u-link-button {
	padding: 0.8em;
	background-color: #2E97CB;
	border-radius: 0.5em;
	display: inline-block;
}

.u-link-button span {
	float: left;
}

.u-link-button::after {
	content: '';
	background-image: url('img/btnArrow.png');
	background-repeat: no-repeat;
	background-size: 0.77em 1em;
	width: 0.77em;
	height: 1em;
	margin-left: 0.5em;
	float: left;
}

.u-copy-right {
	color: #646464;
}

.u-search button {
	border: none;
	background-color: #E0E0E0;
	background-image: url('img/searchBtn.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2em 2em;
	width: 3em;
	height: 3em;
	border: solid #D9D9D9 1px;
	border-radius: 0.5em;
	float: left;
	cursor: pointer;
}

.search-bar-close {
	display: inline-block;
	width: 1em;
	height: 1em;
	color: black;
}

@media screen and (min-width: 601px) {

	.u-search {
		border: 1px solid #D2D2D2;
		border-radius: 0.5em;
		padding: 0.1em;
		background-color: white;
	}
	.u-search button {
		background-color: rgba(0, 0, 0, 0);
		background-size: 1em 1em;
		width: 1em;
		height: 1em;
		border: none;
		margin-left: 1em;
	}

	.search-bar {
		float: left;
	}

	.u-search input {
		border: none;
		height: 1em;
		width: 8.5em;
		padding: 0.0625em;
		float: left;
		display: inline-block;
	}

	#search-bar-close {
		display: none;
	}

    .u-search button::before {
		content: '';
		background-image: url('img/search_line_devider.png');
		background-repeat: no-repeat;
		background-size: 1px 1em;
		width: 1px;
		height: 1em;
		margin-right: 1em;
		float: right;
	}

}

.u-cell {
 	background-color: white;
 	border-radius: 0.2rem;
}

.u-three-one-small-margin-row .u-cell {
	height: 100%;
}

.u-cell-image img {
	width: 100%;
	height: 100%;
}

.u-clean-checkbox input[type="radio"] {
	display: none;
}

.u-clean-checkbox input[type="radio"] + label {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0.25em;
	border-radius: 0.3em;
	cursor: pointer;
	background-color: #E5E5E5;
	position: relative;
}

.u-clean-checkbox input[type="radio"] + label span {
	display: inline-block;
	color: #868686;
	width: 1em;
	height: 1em;
	position: absolute;
	left: calc(50% - 0.5em);
	top: calc(50% - 0.5em);
	text-align: center;
}

.u-clean-checkbox input[type="radio"] + label:hover span,
.u-clean-checkbox input[type="radio"]:checked + label span {
	color: white;
}

@media screen and (min-width: 601px) {

	.u-clean-checkbox input[type="radio"] + label {
		width: 1em;
		height: 1em;
		margin: 0.1em;
	}

	.u-clean-checkbox input[type="radio"] + label span {
		display: none;
	}

}

.u-clean-checkbox input[type="radio"] + label:hover,
.u-clean-checkbox input[type="radio"]:checked + label {
	background-color: #2E95CA;
}
.u-quote::before,
.u-quote::after {
	content: '';
	background-image: url('img/quote-grey.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2.25em 1.5em;
	width: 2.25em;
	height: 1.5em;
	display: inline-block;
}

.u-up-button {
	display: block;
	background-image: url('img/back_top.png');
	background-repeat: no-repeat;
}